In [1]:
# First, let's import the library 'Pandas'
import pandas as pd

In [2]:
# Loading the CSV data.  Noticed that I decleard row 0 and row 1 as header.  The data actually begins in row 2.
# By doing this, I created a multi index. See documentation: https://pandas.pydata.org/docs/user_guide/advanced.html
df = pd.read_csv('/Users/katherinefeng/Desktop/kenvue_data/Total Ecomm POS (Factory $) - UTSC Lecture.csv', header=[0,1])

In [3]:
# Let's see what it looks like.  Noticed that there are 2 header rows.
df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Fiscal Week                      \
           Need State        Fiscal Year           1         2         3
0        Need State 1               2021     3684.75   3426.75   4221.75
1        Need State 1               2022     3441.75   3657.00   3806.25
2        Need State 1               2023     2901.75   2919.75   2760.75
3        Need State 2               2021    11283.00  12698.25  18210.00
4        Need State 2               2022     8566.50  11636.25   9718.50
5        Need State 2               2023     7915.50   7142.25   7864.50
6        Need State 3               2021    11958.75  11279.25   9659.25
7        Need State 3               2022     8359.50   7750.50   6705.00
8        Need State 3               2023     5179.50   8040.00   5007.75
9        Need State 4               2021    14755.50  16803.00  16849.50
10       Need State 4               2022    11095.50  17230.50  13074.75
11       Need State 4               2023     6963.00   8859.75   8436.00
12       Need State 5               2021      448.50    285.75    276.00
13       Need State 5               2022      471.00    537.00    411.75
14       Need State 5               2023     1221.00    937.50    875.25
15       Need State 6               2021     6929.25   6226.50   7128.75
16       Need State 6               2022     7405.50   9000.75   8354.25
17       Need State 6               2023     6918.00   6349.50   5749.50

                                                      ...                     \
           4         5         6         7         8  ...        43       44
0    2959.50   3402.75   3440.25   2619.00   3240.75  ...   2651.25  2442.75
1    3765.75   3984.00   2999.25   3231.75   2896.50  ...   2754.00  2427.75
2    2525.25   3274.50   2631.00   2621.25   2297.25  ...      0.00     0.00
3   12725.25  19290.75  12869.25  14770.50  13758.00  ...   9129.75  7565.25
4    9857.25  12634.50   8575.50   7626.00   6586.50  ...   8856.00  6453.75
5    8031.00  14619.75  11294.25   6878.25   7881.75  ...      0.00     0.00
6   11369.25   8376.00   9748.50   7694.25  12636.00  ...   4853.25  6712.50
7    8472.00   8309.25   5844.75   5243.25   7948.50  ...   6195.00  5993.25
8    5653.50   6666.75   6546.75   5243.25   7605.75  ...      0.00     0.00
9   14108.25  20616.00  13823.25  13392.75  14490.00  ...  10680.00  9960.75
10  11168.25  19377.00  10166.25  10544.25   9573.75  ...   7854.00  8457.75
11   7923.75  17929.50   9504.75   8709.00   7854.00  ...      0.00     0.00
12    237.75    433.50    233.25    370.50    315.75  ...    270.75   264.75
13    540.75    601.50    541.50    758.25    493.50  ...    678.75   683.25
14   1019.25   1093.50   2187.00   4014.75   2139.75  ...      0.00     0.00
15   6423.75   6801.00   6545.25   5718.00   7878.00  ...   7296.00  5988.75
16   8982.75   8905.50   6419.25   6573.00   6710.25  ...   5978.25  5899.50
17   5434.50  12224.25   6025.50   6106.50   5668.50  ...      0.00     0.00

                                                                         \
         45        46        47        48        49        50        51
0   2108.25   2079.75   2442.75   3016.50   2412.00   2110.50   2878.50
1   2514.75   2583.00   2163.00   3263.25   4025.25   2246.25   1896.00
2      0.00      0.00      0.00      0.00      0.00      0.00      0.00
3   7682.25   9483.75  12681.00  14578.50   8278.50   9657.00   8244.75
4   7784.25   9892.50  10252.50  16174.50  17265.00  11385.00   8076.00
5      0.00      0.00      0.00      0.00      0.00      0.00      0.00
6   5549.25   6735.75   7647.00  13239.00   5052.75   5668.50   6709.50
7   4446.75   7068.75   5205.00  12023.25  11451.00   7677.75   4029.00
8      0.00      0.00      0.00      0.00      0.00      0.00      0.00
9   8895.00  10631.25   9816.75  10827.00  10139.25  10624.50  10371.75
10  7491.00   9054.75   8586.00  10875.00  11812.50  10074.75   7985.25
11     0.00      0.00      0.00      0.00      0.00      0.00      0.00
12   219.75    252.75    406.50    647.25    277.50    230.25    187.50
13   526.50    738.75    636.75   1434.00   1345.50    717.00    498.00
14     0.00      0.00      0.00      0.00      0.00      0.00      0.00
15  5532.00   5456.25   6828.00   9346.50   6275.25   5706.00   6168.00
16  5176.50   5328.75   8055.00   8850.00   7952.25   7626.00   6060.75
17     0.00      0.00      0.00      0.00      0.00      0.00      0.00


          52
0    2358.75
1    2421.00
2       0.00
3    7518.00
4   14489.25
5       0.00
6    6012.00
7    9322.50
8       0.00
9    8635.50
10   6142.50
11      0.00
12    382.50
13    795.75
14      0.00
15   5531.25
16   5622.75
17      0.00

[18 rows x 54 columns]

In [4]:
# This is called multi index.  See documentation: https://pandas.pydata.org/docs/user_guide/advanced.html
df.columns

MultiIndex([('Unnamed: 0_level_0',  'Need State'),
            ('Unnamed: 1_level_0', 'Fiscal Year'),
            (       'Fiscal Week',           '1'),
            (       'Fiscal Week',           '2'),
            (       'Fiscal Week',           '3'),
            (       'Fiscal Week',           '4'),
            (       'Fiscal Week',           '5'),
            (       'Fiscal Week',           '6'),
            (       'Fiscal Week',           '7'),
            (       'Fiscal Week',           '8'),
            (       'Fiscal Week',           '9'),
            (       'Fiscal Week',          '10'),
            (       'Fiscal Week',          '11'),
            (       'Fiscal Week',          '12'),
            (       'Fiscal Week',          '13'),
            (       'Fiscal Week',          '14'),
            (       'Fiscal Week',          '15'),
            (       'Fiscal Week',          '16'),
            (       'Fiscal Week',          '17'),
            (       'Fiscal Week',          '18'),
            (       'Fiscal Week',          '19'),
            (       'Fiscal Week',          '20'),
            (       'Fiscal Week',          '21'),
            (       'Fiscal Week',          '22'),
            (       'Fiscal Week',          '23'),
            (       'Fiscal Week',          '24'),
            (       'Fiscal Week',          '25'),
            (       'Fiscal Week',          '26'),
            (       'Fiscal Week',          '27'),
            (       'Fiscal Week',          '28'),
            (       'Fiscal Week',          '29'),
            (       'Fiscal Week',          '30'),
            (       'Fiscal Week',          '31'),
            (       'Fiscal Week',          '32'),
            (       'Fiscal Week',          '33'),
            (       'Fiscal Week',          '34'),
            (       'Fiscal Week',          '35'),
            (       'Fiscal Week',          '36'),
            (       'Fiscal Week',          '37'),
            (       'Fiscal Week',          '38'),
            (       'Fiscal Week',          '39'),
            (       'Fiscal Week',          '40'),
            (       'Fiscal Week',          '41'),
            (       'Fiscal Week',          '42'),
            (       'Fiscal Week',          '43'),
            (       'Fiscal Week',          '44'),
            (       'Fiscal Week',          '45'),
            (       'Fiscal Week',          '46'),
            (       'Fiscal Week',          '47'),
            (       'Fiscal Week',          '48'),
            (       'Fiscal Week',          '49'),
            (       'Fiscal Week',          '50'),
            (       'Fiscal Week',          '51'),
            (       'Fiscal Week',          '52')],
           )

In [5]:
# Instead of having numbers in row index, I am going to set customized index levels
df = df.set_index([('Unnamed: 0_level_0', 'Need State'), ('Unnamed: 1_level_0', 'Fiscal Year')])

In [6]:
# Swapping Rows <-> Columns
df = df.T

In [7]:
# Let's take a look..getting a bit more organized now.
df

('Unnamed: 0_level_0', 'Need State')  Need State 1                    \
('Unnamed: 1_level_0', 'Fiscal Year')         2021     2022     2023
Fiscal Week 1                              3684.75  3441.75  2901.75
            2                              3426.75  3657.00  2919.75
            3                              4221.75  3806.25  2760.75
            4                              2959.50  3765.75  2525.25
            5                              3402.75  3984.00  3274.50
            6                              3440.25  2999.25  2631.00
            7                              2619.00  3231.75  2621.25
            8                              3240.75  2896.50  2297.25
            9                              3461.25  2938.50  2717.25
            10                             3045.00  3370.50  3062.25
            11                             3942.75  3465.00  2283.75
            12                             4527.00  4341.00  3463.50
            13                             5049.75  5413.50  2735.25
            14                             5021.25  4136.25  3575.25
            15                             7921.50  5704.50  2765.25
            16                             8265.00  4307.25  4332.00
            17                             9694.50  6462.75  4167.75
            18                             9465.75  5088.00  4409.25
            19                             9294.00  5722.50  5298.75
            20                            11571.00  5211.00  6633.75
            21                            10518.00  6423.00  5106.00
            22                             9945.00  6408.00  6156.00
            23                             8270.25  6981.75  6244.50
            24                             7458.75  6810.00  7345.50
            25                             5764.50  8342.25  4947.75
            26                             5799.00  6725.25  5104.50
            27                             4686.75  4088.25  5976.75
            28                             5145.75  6627.75  3849.75
            29                             4277.25  5946.00  3991.50
            30                             3400.50  4268.25  3461.25
            31                             4156.50  5478.00  3765.75
            32                             3395.25  3631.50  2844.00
            33                             3780.75  5435.25  3442.50
            34                             3655.50  4350.00  4605.00
            35                             4038.75  4778.25  3937.50
            36                             3996.00  4641.00  3063.75
            37                             2899.50  3075.00  2633.25
            38                             4110.75  3638.25  2598.00
            39                             2969.25  3049.50  2917.50
            40                             3213.00  3129.75  3638.25
            41                             2867.25  3091.50  2469.00
            42                             3072.00  2377.50     0.00
            43                             2651.25  2754.00     0.00
            44                             2442.75  2427.75     0.00
            45                             2108.25  2514.75     0.00
            46                             2079.75  2583.00     0.00
            47                             2442.75  2163.00     0.00
            48                             3016.50  3263.25     0.00
            49                             2412.00  4025.25     0.00
            50                             2110.50  2246.25     0.00
            51                             2878.50  1896.00     0.00
            52                             2358.75  2421.00     0.00

('Unnamed: 0_level_0', 'Need State')  Need State 2                      \
('Unnamed: 1_level_0', 'Fiscal Year')         2021      2022      2023
Fiscal Week 1                             11283.00   8566.50   7915.50
            2                             12698.25  11636.25   7142.25
            3                             18210.00   9718.50   7864.50
            4                             12725.25   9857.25   8031.00
            5                             19290.75  12634.50  14619.75
            6                             12869.25   8575.50  11294.25
            7                             14770.50   7626.00   6878.25
            8                             13758.00   6586.50   7881.75
            9                             14404.50   7532.25   7542.00
            10                            10047.75   6529.50   8510.25
            11                            12971.25   6819.00   8500.50
            12                            10590.75   7100.25   8667.75
            13                            10084.50   7289.25   6966.00
            14                             9434.25   6840.00   8259.00
            15                            14040.75   8550.75   6927.75
            16                            15936.00   7314.75   9660.75
            17                            15492.00  10150.50   8663.25
            18                            12170.25   6726.00   8235.00
            19                            14530.50   7780.50   7530.75
            20                            11547.00   7908.00   9257.25
            21                            12012.00   7419.00   5958.75
            22                             9823.50   7626.75   9289.50
            23                            10550.25   7138.50   7449.00
            24                            10377.00   8532.75   7594.50
            25                             7430.25   6761.25   6601.50
            26                             8093.25   5844.00   6876.75
            27                             6697.50   5825.25   5448.75
            28                             7224.00   6452.25   8272.50
            29                             8355.75   6469.50   6987.75
            30                             5889.75   5252.25   5758.50
            31                             6570.75   6114.75   7765.50
            32                             6599.25   6512.25   6812.25
            33                             7659.75   6411.00   5285.25
            34                             5667.00   5250.00   7611.75
            35                             6619.50   5809.50   4529.25
            36                             6052.50   6198.00   6837.75
            37                             8075.25   6070.50   7330.50
            38                             6512.25   7338.00   6317.25
            39                             6955.50   6208.50   7203.00
            40                             5948.25   6656.25   6395.25
            41                             6466.50   6437.25   6606.75
            42                             7743.75   8136.75      0.00
            43                             9129.75   8856.00      0.00
            44                             7565.25   6453.75      0.00
            45                             7682.25   7784.25      0.00
            46                             9483.75   9892.50      0.00
            47                            12681.00  10252.50      0.00
            48                            14578.50  16174.50      0.00
            49                             8278.50  17265.00      0.00
            50                             9657.00  11385.00      0.00
            51                             8244.75   8076.00      0.00
            52                             7518.00  14489.25      0.00

('Unnamed: 0_level_0', 'Need State')  Need State 3                     \
('Unnamed: 1_level_0', 'Fiscal Year')         2021      2022     2023
Fiscal Week 1                             11958.75   8359.50  5179.50
            2                             11279.25   7750.50  8040.00
            3                              9659.25   6705.00  5007.75
            4                             11369.25   8472.00  5653.50
            5                              8376.00   8309.25  6666.75
            6                              9748.50   5844.75  6546.75
            7                              7694.25   5243.25  5243.25
            8                             12636.00   7948.50  7605.75
            9                              8955.00   4886.25  5856.00
            10                             8427.75   5438.25  7410.00
            11                             9404.25   4990.50  5521.50
            12                             9249.00   7619.25  7584.75
            13                             7868.25   4386.00  5775.75
            14                            10521.00   6857.25  4848.00
            15                            12336.75   5988.00  4256.25
            16                            11125.50   4491.75  8676.75
            17                            11022.75   7133.25  6813.75
            18                            12348.75   4959.75  6177.75
            19                             9120.00   5751.75  6449.25
            20                            13093.50   5200.50  6885.75
            21                            10692.00   6698.25  5414.25
            22                            10530.00   5193.75  6283.50
            23                             8646.75   6801.75  6373.50
            24                             9419.25   5866.50  8634.00
            25                             6986.25   7352.25  7368.75
            26                             8842.50   5948.25  7879.50
            27                             7251.75   7233.00  4768.50
            28                             7355.25   6956.25  7866.00
            29                             5880.00   6462.00  6985.50
            30                             7737.75   5979.00  7682.25
            31                             5929.50   5761.50  6594.75
            32                             5922.75   5908.50  6403.50
            33                             7146.75   7677.75  5403.75
            34                             6741.00   5808.00  8136.00
            35                             6010.50   5187.00  4803.75
            36                             8017.50   6813.75  6606.00
            37                             5499.00   5092.50  4928.25
            38                             7940.25   5372.25  4743.00
            39                             6592.50   6168.75  6272.25
            40                             6909.00   7268.25  6846.00
            41                             6232.50   5062.50  5431.50
            42                             6338.25   6167.25     0.00
            43                             4853.25   6195.00     0.00
            44                             6712.50   5993.25     0.00
            45                             5549.25   4446.75     0.00
            46                             6735.75   7068.75     0.00
            47                             7647.00   5205.00     0.00
            48                            13239.00  12023.25     0.00
            49                             5052.75  11451.00     0.00
            50                             5668.50   7677.75     0.00
            51                             6709.50   4029.00     0.00
            52                             6012.00   9322.50     0.00

('Unnamed: 0_level_0', 'Need State')  Need State 4                      \
('Unnamed: 1_level_0', 'Fiscal Year')         2021      2022      2023
Fiscal Week 1                             14755.50  11095.50   6963.00
            2                             16803.00  17230.50   8859.75
            3                             16849.50  13074.75   8436.00
            4                             14108.25  11168.25   7923.75
            5                             20616.00  19377.00  17929.50
            6                             13823.25  10166.25   9504.75
            7                             13392.75  10544.25   8709.00
            8                             14490.00   9573.75   7854.00
            9                             13727.25   9941.25   9372.75
            10                            11023.50   8024.25   8770.50
            11                            12563.25   8870.25   8442.00
            12                            12119.25   9240.00   9414.75
            13                            12805.50  10481.25   8088.00
            14                            11544.00   8949.00   7207.50
            15                            14825.25  10015.50   6756.00
            16                            22781.25   8343.00  10069.50
            17                            14601.00  12491.25   9841.50
            18                            13516.50   6842.25   7993.50
            19                            14590.50   8835.75   7897.50
            20                            12529.50   7607.25   8042.25
            21                            12645.00   7792.50   7575.75
            22                            11053.50   9372.00   8646.00
            23                            12019.50   9641.25   8259.75
            24                            10047.75  10461.00   7887.75
            25                            10372.50   6513.00   6587.25
            26                             9849.00   8349.00   6353.25
            27                             8484.75   7595.25   7467.00
            28                             9808.50   8072.25   7537.50
            29                             8745.75   7249.50   6676.50
            30                             8175.00   6978.75   7437.00
            31                             8167.50   8566.50   7371.00
            32                             8409.75   8521.50   7686.00
            33                            10485.75   9502.50   7364.25
            34                             9972.00   9363.00   8100.00
            35                            10860.00   7475.25   9905.25
            36                             9233.25   8436.00   7820.25
            37                            10282.50   7473.75   8358.75
            38                             9164.25   8941.50   9430.50
            39                            12162.75   8235.75   7305.00
            40                            10622.25   8616.75   7388.25
            41                             8721.75   7726.50   8591.25
            42                            10592.25   9090.00      0.00
            43                            10680.00   7854.00      0.00
            44                             9960.75   8457.75      0.00
            45                             8895.00   7491.00      0.00
            46                            10631.25   9054.75      0.00
            47                             9816.75   8586.00      0.00
            48                            10827.00  10875.00      0.00
            49                            10139.25  11812.50      0.00
            50                            10624.50  10074.75      0.00
            51                            10371.75   7985.25      0.00
            52                             8635.50   6142.50      0.00

('Unnamed: 0_level_0', 'Need State')  Need State 5                     \
('Unnamed: 1_level_0', 'Fiscal Year')         2021     2022      2023
Fiscal Week 1                               448.50   471.00   1221.00
            2                               285.75   537.00    937.50
            3                               276.00   411.75    875.25
            4                               237.75   540.75   1019.25
            5                               433.50   601.50   1093.50
            6                               233.25   541.50   2187.00
            7                               370.50   758.25   4014.75
            8                               315.75   493.50   2139.75
            9                               551.25   748.50   1893.00
            10                              675.75  1540.50   3548.25
            11                              995.25   726.00   1425.75
            12                             1776.75  1792.50   2628.75
            13                             2505.00  2394.00   2742.00
            14                             3737.25  1094.25   2496.75
            15                             6728.25  1938.75   7094.25
            16                             6337.50  1767.00   6849.75
            17                             8767.50  3873.00   5802.00
            18                             7281.00  2907.00   4909.50
            19                            13542.00  6534.00   7177.50
            20                            17999.25  6714.00   8891.25
            21                            28365.75  7275.00  11021.25
            22                            16926.00  6359.25   5580.75
            23                            20357.25  7629.75  10229.25
            24                            12407.25  4884.00   4476.75
            25                            11602.50  3603.00   3870.75
            26                            14219.25  5925.00   8675.25
            27                             9683.25  5229.00   7122.00
            28                             6409.50  5319.00   7592.25
            29                             4857.00  4953.75   3705.00
            30                             2762.25  2443.50   3881.25
            31                             3534.75  3564.75   5003.25
            32                             2136.00  2650.50   4181.25
            33                             3093.75  3603.75   2303.25
            34                             2869.50  3119.25   2762.25
            35                             1594.50  1461.75   1339.50
            36                             1974.00  2079.75   2147.25
            37                             1316.25   988.50   1051.50
            38                             1104.75   923.25    813.75
            39                              453.75   465.75    663.75
            40                              327.00   547.50    698.25
            41                              204.75   612.75    928.50
            42                              226.50   399.75      0.00
            43                              270.75   678.75      0.00
            44                              264.75   683.25      0.00
            45                              219.75   526.50      0.00
            46                              252.75   738.75      0.00
            47                              406.50   636.75      0.00
            48                              647.25  1434.00      0.00
            49                              277.50  1345.50      0.00
            50                              230.25   717.00      0.00
            51                              187.50   498.00      0.00
            52                              382.50   795.75      0.00

('Unnamed: 0_level_0', 'Need State')  Need State 6
('Unnamed: 1_level_0', 'Fiscal Year')         2021      2022      2023
Fiscal Week 1                              6929.25   7405.50   6918.00
            2                              6226.50   9000.75   6349.50
            3                              7128.75   8354.25   5749.50
            4                              6423.75   8982.75   5434.50
            5                              6801.00   8905.50  12224.25
            6                              6545.25   6419.25   6025.50
            7                              5718.00   6573.00   6106.50
            8                              7878.00   6710.25   5668.50
            9                              6035.25   8185.50   6065.25
            10                             5799.00   6075.75   5964.75
            11                             5229.00   5880.75   5513.25
            12                             5707.50   6043.50   6131.25

In [8]:
# I use a Pandas stack function here to stack all the year in one column.  
# That way my dataframe is long instead of wide.
# See stack function here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.stack.html
df = df.stack(1)

In [9]:
# Can you see what I did so far?
df

('Unnamed: 0_level_0', 'Need State')              Need State 1  Need State 2  \
               (Unnamed: 1_level_0, Fiscal Year)
Fiscal Week 1  2021                                    3684.75      11283.00
               2022                                    3441.75       8566.50
               2023                                    2901.75       7915.50
            2  2021                                    3426.75      12698.25
               2022                                    3657.00      11636.25
...                                                        ...           ...
            51 2022                                    1896.00       8076.00
               2023                                       0.00          0.00
            52 2021                                    2358.75       7518.00
               2022                                    2421.00      14489.25
               2023                                       0.00          0.00

('Unnamed: 0_level_0', 'Need State')              Need State 3  Need State 4  \
               (Unnamed: 1_level_0, Fiscal Year)
Fiscal Week 1  2021                                   11958.75      14755.50
               2022                                    8359.50      11095.50
               2023                                    5179.50       6963.00
            2  2021                                   11279.25      16803.00
               2022                                    7750.50      17230.50
...                                                        ...           ...
            51 2022                                    4029.00       7985.25
               2023                                       0.00          0.00
            52 2021                                    6012.00       8635.50
               2022                                    9322.50       6142.50
               2023                                       0.00          0.00

('Unnamed: 0_level_0', 'Need State')              Need State 5  Need State 6
               (Unnamed: 1_level_0, Fiscal Year)
Fiscal Week 1  2021                                     448.50       6929.25
               2022                                     471.00       7405.50
               2023                                    1221.00       6918.00
            2  2021                                     285.75       6226.50
               2022                                     537.00       9000.75
...                                                        ...           ...
            51 2022                                     498.00       6060.75
               2023                                       0.00          0.00
            52 2021                                     382.50       5531.25
               2022                                     795.75       5622.75
               2023                                       0.00          0.00

[156 rows x 6 columns]

In [10]:
# Now I will reset the index so it will go back to numbers as row index
df= df.reset_index()

In [11]:
df

"(Unnamed: 0_level_0, Need State)",level_0,level_1,"(Unnamed: 1_level_0, Fiscal Year)",Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,Fiscal Week,1,2021,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,Fiscal Week,1,2022,3441.75,8566.50,8359.50,11095.50,471.00,7405.50
2,Fiscal Week,1,2023,2901.75,7915.50,5179.50,6963.00,1221.00,6918.00
3,Fiscal Week,2,2021,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
4,Fiscal Week,2,2022,3657.00,11636.25,7750.50,17230.50,537.00,9000.75
...,...,...,...,...,...,...,...,...,...
151,Fiscal Week,51,2022,1896.00,8076.00,4029.00,7985.25,498.00,6060.75
152,Fiscal Week,51,2023,0.00,0.00,0.00,0.00,0.00,0.00
153,Fiscal Week,52,2021,2358.75,7518.00,6012.00,8635.50,382.50,5531.25
154,Fiscal Week,52,2022,2421.00,14489.25,9322.50,6142.50,795.75,5622.75
155,Fiscal Week,52,2023,0.00,0.00,0.00,0.00,0.00,0.00

In [12]:
# Let's rename the columns
df = df.rename_axis(None, axis=1)
df = df.rename(columns={df.columns[0]: "fiscal week", df.columns[1]: "Week", df.columns[2]: "Year"})

In [13]:
df

,fiscal week,Week,Year,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,Fiscal Week,1,2021,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,Fiscal Week,1,2022,3441.75,8566.50,8359.50,11095.50,471.00,7405.50
2,Fiscal Week,1,2023,2901.75,7915.50,5179.50,6963.00,1221.00,6918.00
3,Fiscal Week,2,2021,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
4,Fiscal Week,2,2022,3657.00,11636.25,7750.50,17230.50,537.00,9000.75
...,...,...,...,...,...,...,...,...,...
151,Fiscal Week,51,2022,1896.00,8076.00,4029.00,7985.25,498.00,6060.75
152,Fiscal Week,51,2023,0.00,0.00,0.00,0.00,0.00,0.00
153,Fiscal Week,52,2021,2358.75,7518.00,6012.00,8635.50,382.50,5531.25
154,Fiscal Week,52,2022,2421.00,14489.25,9322.50,6142.50,795.75,5622.75
155,Fiscal Week,52,2023,0.00,0.00,0.00,0.00,0.00,0.00

In [14]:
# Swap column that contains 'Year' and 'Week'
df['Year'], df['Week'] = df['Week'].values, df['Year'].values

In [15]:
df

,fiscal week,Week,Year,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,Fiscal Week,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,Fiscal Week,2022,1,3441.75,8566.50,8359.50,11095.50,471.00,7405.50
2,Fiscal Week,2023,1,2901.75,7915.50,5179.50,6963.00,1221.00,6918.00
3,Fiscal Week,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
4,Fiscal Week,2022,2,3657.00,11636.25,7750.50,17230.50,537.00,9000.75
...,...,...,...,...,...,...,...,...,...
151,Fiscal Week,2022,51,1896.00,8076.00,4029.00,7985.25,498.00,6060.75
152,Fiscal Week,2023,51,0.00,0.00,0.00,0.00,0.00,0.00
153,Fiscal Week,2021,52,2358.75,7518.00,6012.00,8635.50,382.50,5531.25
154,Fiscal Week,2022,52,2421.00,14489.25,9322.50,6142.50,795.75,5622.75
155,Fiscal Week,2023,52,0.00,0.00,0.00,0.00,0.00,0.00

In [16]:
# Let's rename the columns
df = df.rename_axis(None, axis=1)
df = df.rename(columns={df.columns[0]: "fiscal week", df.columns[1]: "Year", df.columns[2]: "Week"})

In [17]:
df

,fiscal week,Year,Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,Fiscal Week,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,Fiscal Week,2022,1,3441.75,8566.50,8359.50,11095.50,471.00,7405.50
2,Fiscal Week,2023,1,2901.75,7915.50,5179.50,6963.00,1221.00,6918.00
3,Fiscal Week,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
4,Fiscal Week,2022,2,3657.00,11636.25,7750.50,17230.50,537.00,9000.75
...,...,...,...,...,...,...,...,...,...
151,Fiscal Week,2022,51,1896.00,8076.00,4029.00,7985.25,498.00,6060.75
152,Fiscal Week,2023,51,0.00,0.00,0.00,0.00,0.00,0.00
153,Fiscal Week,2021,52,2358.75,7518.00,6012.00,8635.50,382.50,5531.25
154,Fiscal Week,2022,52,2421.00,14489.25,9322.50,6142.50,795.75,5622.75
155,Fiscal Week,2023,52,0.00,0.00,0.00,0.00,0.00,0.00

In [18]:
# Delete the first column that contains 'Fiscal Week'
df = df.drop(df.columns[0], axis=1)

In [19]:
df

,Year,Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,2022,1,3441.75,8566.50,8359.50,11095.50,471.00,7405.50
2,2023,1,2901.75,7915.50,5179.50,6963.00,1221.00,6918.00
3,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
4,2022,2,3657.00,11636.25,7750.50,17230.50,537.00,9000.75
...,...,...,...,...,...,...,...,...
151,2022,51,1896.00,8076.00,4029.00,7985.25,498.00,6060.75
152,2023,51,0.00,0.00,0.00,0.00,0.00,0.00
153,2021,52,2358.75,7518.00,6012.00,8635.50,382.50,5531.25
154,2022,52,2421.00,14489.25,9322.50,6142.50,795.75,5622.75
155,2023,52,0.00,0.00,0.00,0.00,0.00,0.00

In [20]:
# Convert 'Week' column to numeric
# 'coerce' will turn non-numeric values to NaN
df['Week'] = pd.to_numeric(df['Week'], errors='coerce')

In [23]:
# Sort both 'Year' and 'Week' in an ascending order
df = df.sort_values(by=['Year', 'Week'], ascending=[True, True])

In [24]:
df

,Year,Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
3,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
6,2021,3,4221.75,18210.00,9659.25,16849.50,276.00,7128.75
9,2021,4,2959.50,12725.25,11369.25,14108.25,237.75,6423.75
12,2021,5,3402.75,19290.75,8376.00,20616.00,433.50,6801.00
...,...,...,...,...,...,...,...,...
143,2023,48,0.00,0.00,0.00,0.00,0.00,0.00
146,2023,49,0.00,0.00,0.00,0.00,0.00,0.00
149,2023,50,0.00,0.00,0.00,0.00,0.00,0.00
152,2023,51,0.00,0.00,0.00,0.00,0.00,0.00
155,2023,52,0.00,0.00,0.00,0.00,0.00,0.00

In [25]:
# Now I will reset the index so it will go back to numbers as row index
df.reset_index(drop=True, inplace=True)

In [26]:
df

,Year,Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
2,2021,3,4221.75,18210.00,9659.25,16849.50,276.00,7128.75
3,2021,4,2959.50,12725.25,11369.25,14108.25,237.75,6423.75
4,2021,5,3402.75,19290.75,8376.00,20616.00,433.50,6801.00
...,...,...,...,...,...,...,...,...
151,2023,48,0.00,0.00,0.00,0.00,0.00,0.00
152,2023,49,0.00,0.00,0.00,0.00,0.00,0.00
153,2023,50,0.00,0.00,0.00,0.00,0.00,0.00
154,2023,51,0.00,0.00,0.00,0.00,0.00,0.00
155,2023,52,0.00,0.00,0.00,0.00,0.00,0.00

In [27]:
# Convert 0 in any columns to NaA
df[df == 0] = pd.NA

In [28]:
df

,Year,Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
2,2021,3,4221.75,18210.00,9659.25,16849.50,276.00,7128.75
3,2021,4,2959.50,12725.25,11369.25,14108.25,237.75,6423.75
4,2021,5,3402.75,19290.75,8376.00,20616.00,433.50,6801.00
...,...,...,...,...,...,...,...,...
151,2023,48,NaN,NaN,NaN,NaN,NaN,NaN
152,2023,49,NaN,NaN,NaN,NaN,NaN,NaN
153,2023,50,NaN,NaN,NaN,NaN,NaN,NaN
154,2023,51,NaN,NaN,NaN,NaN,NaN,NaN
155,2023,52,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Drop any column that has NaN
df.dropna(inplace=True)

In [31]:
df

,Year,Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5,Need State 6
0,2021,1,3684.75,11283.00,11958.75,14755.50,448.50,6929.25
1,2021,2,3426.75,12698.25,11279.25,16803.00,285.75,6226.50
2,2021,3,4221.75,18210.00,9659.25,16849.50,276.00,7128.75
3,2021,4,2959.50,12725.25,11369.25,14108.25,237.75,6423.75
4,2021,5,3402.75,19290.75,8376.00,20616.00,433.50,6801.00
...,...,...,...,...,...,...,...,...
140,2023,37,2633.25,7330.50,4928.25,8358.75,1051.50,6108.00
141,2023,38,2598.00,6317.25,4743.00,9430.50,813.75,7057.50
142,2023,39,2917.50,7203.00,6272.25,7305.00,663.75,5617.50
143,2023,40,3638.25,6395.25,6846.00,7388.25,698.25,5651.25
144,2023,41,2469.00,6606.75,5431.50,8591.25,928.50,6583.50